@model Kategoria

<form method="post">
    <div class="border p-4">
        <div class="row p-3">
            Fshirja e Kategorise
            <hr/>
        </div>
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="Emri"></label>
            <input readonly  asp-for="Emri" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Fshi</button>
        <a class="btn btn-secondary" asp-controller="Kategori" asp-action="Listo">Kthehu</a>
    </div>
</form>