@model Studenti

<form method="post">
    <div class="border p-4">
        <div class="row p-3">
            Editimi i studentit
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Emri"></label>
            <input asp-for="Emri" class="form-control"/>
            <span asp-validation-for="Emri" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Mbiemri"></label>
            <input asp-for="Mbiemri" class="form-control"/>
            <span asp-validation-for="Mbiemri" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="KomunaId"></label>
            <select asp-for="KomunaId" class="form-select" asp-items="ViewBag.Kom">
                <option selected value="0">Cakto komunen</option>
            </select>
            <span asp-validation-for="KomunaId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Edito</button>
        <a class="btn btn-secondary" asp-controller="Student" asp-action="Listo">Kthehu</a>
    </div>
</form>