@model Studenti

<div class="container">
    <div class="border">
        <form method="post">
            <div class="mb-2">
                <label asp-for="Emri"></label>
                <input asp-for="Emri" class="form-control" />
            </div>
            <div class="mb-2">
                <label asp-for="Mbiemri"></label>
                <input asp-for="Mbiemri" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Shto </button>
        </form>
    </div>
</div>
